.uploadAnim {
  padding: 15px 0px;
  animation: uploadIconAnim 2s ease 10s 10 normal forwards;
}

@keyframes uploadIconAnim {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

header {
  margin-left: 120px;
}

form {
  padding: 10px;
}

.upload-icon {
  height: 256px;
  width: 256px;
}

label {
  background: #e1e5ea;
  border-radius: 50px;
  padding: 3px 8px;
}

.border-dash {
  border: 4px dashed black;
}

.text-center {
  text-align: center;
}

.flex-grow {
  flex-grow: 1;
}
